<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="problems">
        <section class="problems-calendar">

        </section>
        <section class="problems-list">
            <div class="problems-type">
                <button class="button-type">Все задачи</button>
                <button class="button-type">Личные задачи</button>
                <button class="button-type">Задачи по группам</button>
            </div>
            <div class="problems-bar">
                <div>checkbox</div>
                <div>ЗАДАЧА</div>
                <div>СРОК</div>
                <div>СТАТУС</div>
                <div>ПРИОРИТЕТ</div>
                <div>ИСПОЛНИТЕЛЬ</div>
                <div>ДЕЙСТВИЯ</div>
            </div>
        </section>
    </div>
</body>
</html>

<style>


</style>